@model AutoCosting.Models.Maintenance.Trabajo

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles del Trabajo</h2>
<hr />

<div class="form-group">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Descripcion" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Descripcion" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="PrecioPromedio" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="PrecioPromedio" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-sm btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-sm btn-success">Regresar a la Lista</a>
        </div>
    </div>
</div>
