@model IEnumerable<AutoCosting.Models.Maintenance.Trabajo>

@{
    ViewData["Title"] = "Index";
}

<h2>Catalogo de Costos </h2>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
</p>
<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.PrecioPromedio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.PrecioPromedio)  
                </td>
                <td>
                    @await Html.PartialAsync("_TableButtonPartial", new IndividualButtonPartial { Id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
