@model AutoCosting.Models.Tracking.TrackingDetail

@{
    ViewData["Title"] = "Create";
}

<br />
<h2>Crear detalle</h2>
<h2>Seguimiento # @Html.DisplayFor(modelItem => Model.TrackingId)</h2>
<hr />


<form asp-action="Create">
    <div class="form-group">
        <input type="hidden" asp-for="TrackingId" />
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            @*<div class="row">
                <div class="col-sm-3">
                    <label asp-for="TrackingId" class="custom-label"></label>
                </div>
                <div class="col-sm-4" style="padding-top:6px">
                    @Html.DisplayFor(modelItem => Model.TrackingId)
                </div>
                <span asp-validation-for="TrackingId" class="text-danger"></span>
            </div>*@
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="TrabajoId" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <select asp-for="TrabajoId" class="form-control" asp-items="ViewBag.TrabajoId" onchange="">
                        <option disabled selected>--Seleccionar--</option>
                    </select>
                </div>
                <span asp-validation-for="TrabajoId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Costo" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Costo" class="form-control" />
                </div>
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="ProveedorId" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <select asp-for="ProveedorId" class="form-control" asp-items="ViewBag.ProveedorId">
                        <option disabled selected>--Seleccionar--</option>
                    </select>
                </div>
                <span asp-validation-for="ProveedorId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NumeroFactura" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="NumeroFactura" class="form-control" />
                </div>
                <span asp-validation-for="NumeroFactura" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Descripcion" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Descripcion" class="form-control" />
                </div>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="AddDescripcion" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <textarea asp-for="AddDescripcion" class="form-control"></textarea>
                </div>
                <span asp-validation-for="AddDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-sm btn-primary" />
                <a asp-action="Edit" asp-controller="TrackingHeaders" asp-route-id="@Model.TrackingId" class="btn btn-sm btn-success">Regresar al Seguimiento</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
