@model AutoCosting.Models.Maintenance.Vehiculo
@using AutoCosting.HelpersAndValidations
@{
    ViewData["Title"] = "Crear Vehículo";
}

<h2>Crear Vehiculo</h2>
<hr />

<form asp-action="Create">
    <div class="form-group">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="VIN" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="VIN" class="form-control">
                </div>
                <span asp-validation-for="VIN" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Marca" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Marca" class="form-control" />
                </div>
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Modelo" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Modelo" class="form-control" />
                </div>
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Anno" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Anno" class="form-control" />
                </div>
                <span asp-validation-for="Anno" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Transmision" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <select asp-for="Transmision" class="form-control" asp-items="Html.GetEnumSelectList<Transmision>()"></select>
                </div>
                <span asp-validation-for="Transmision" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Estilo" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownList("Estilo", new SelectList(new List<SelectListItem> {
                        new SelectListItem { Text = "N/A", Value = "N/A"},
                        new SelectListItem { Text = "Sedán", Value = "Sedán"},
                        new SelectListItem { Text = "Station Wagon", Value = "Station Wagon"},
                        new SelectListItem { Text = "Hatchback", Value = "hatchback"},
                        new SelectListItem { Text = "Pickup 4x2", Value = "Pickup 4x2"},
                        new SelectListItem { Text = "Pickup 4x4", Value = "Pickup 4x4"},
                        new SelectListItem { Text = "Microbús/Minivan", Value = "Microbús/Minivan"},
                        new SelectListItem { Text = "Todo Terreno 4x2", Value = "Todo Terreno 4x2"},
                        new SelectListItem { Text = "Todo Terreno 4x4", Value = "Todo Terreno 4x4"},
                        new SelectListItem { Text = "Casa rodante", Value = "Casa Rodante"},
                        new SelectListItem { Text = "Comercial", Value = "Comercial"}
                    }, "Value", "Text"), "Seleccionar Estilo", new { @class = "form-control" })
                </div>
                <span asp-validation-for="Estilo" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Combustible" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <select asp-for="Combustible" class="form-control" asp-items="Html.GetEnumSelectList<Combustible>()"></select>
                </div>
                <span asp-validation-for="Combustible" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NumeroPuertas" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownList("NumeroPuertas", new SelectList(new List<SelectListItem> {
                        new SelectListItem { Text = "N/A", Value = "N/A"},
                        new SelectListItem { Text = "2 - 3", Value = "2 - 3"},
                        new SelectListItem { Text = "4 o más", Value = "4 o más"},

                    }, "Value", "Text"), "Seleccionar Puertas", new { @class = "form-control" })
                </div>
                <span asp-validation-for="NumeroPuertas" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Color" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Color" class="form-control" type="color" />
                </div>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Placa" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Placa" class="form-control" />
                </div>
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Kilometraje" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Kilometraje" class="form-control" />
                </div>
                <span asp-validation-for="Kilometraje" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Estado" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <select asp-for="Estado" class="form-control" asp-items="Html.GetEnumSelectList<Estado>()"></select>
                </div>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Cilindrada" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Cilindrada" class="form-control" />
                </div>
                <span asp-validation-for="Cilindrada" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="PrecioMinimo" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="PrecioMinimo" class="form-control" />
                </div>
                <span asp-validation-for="PrecioMinimo" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="PrecioRecomendado" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="PrecioRecomendado" class="form-control" />
                </div>
                <span asp-validation-for="PrecioRecomendado" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="ApartadoYN" class="custom-label" style="padding-top:9px"></label>
                </div>
                <div class="col-sm-4">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ApartadoYN" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="FechaIngreso" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="FechaIngreso" class="form-control" type="date" for />
                </div>
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-sm btn-primary" />
                <a asp-action="Index" class="btn btn-sm btn-success">Regresar a la Lista</a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
