@model AutoCosting.Models.Maintenance.Vehiculo
@using AutoCosting.HelpersAndValidations
@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Vehículo</h2>
<hr />

<h3>Está seguro que desea eliminar el vehículo?</h3>
<hr />

<form asp-action="Delete">
    <div class="form-group">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="VIN" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="VIN" disabled  class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Marca" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Marca" disabled class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Modelo" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Modelo" disabled  class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Anno" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Anno" disabled class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Transmision" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <select asp-for="Transmision" class="form-control"  disabled  asp-items="Html.GetEnumSelectList<Transmision>()"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Estilo" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownList("Estilo", new SelectList(new List<SelectListItem> {
                        new SelectListItem { Text = "N/A", Value = "N/A"},
                        new SelectListItem { Text = "Sedán", Value = "Sedán"},
                        new SelectListItem { Text = "Station Wagon", Value = "Station Wagon"},
                        new SelectListItem { Text = "Hatchback", Value = "Hatchback"},
                        new SelectListItem { Text = "Pickup 4x2", Value = "Pickup 4x2"},
                        new SelectListItem { Text = "Pickup 4x4", Value = "Pickup 4x4"},
                        new SelectListItem { Text = "Microbús/Minivan", Value = "Microbús/Minivan"},
                        new SelectListItem { Text = "Todo Terreno 4x2", Value = "Todo Terreno 4x2"},
                        new SelectListItem { Text = "Todo Terreno 4x4", Value = "Todo Terreno 4x4"},
                        new SelectListItem { Text = "Casa rodante", Value = "Casa Rodante"},
                        new SelectListItem { Text = "Comercial", Value = "Comercial"}
                    }, "Value", "Text"), "Seleccionar Estilo", new { @class = "form-control", @disabled = " disabled " })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Combustible" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <select asp-for="Combustible" class="form-control"  disabled  asp-items="Html.GetEnumSelectList<Combustible>()"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="NumeroPuertas" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    @Html.DropDownList("NumeroPuertas", new SelectList(new List<SelectListItem> {
                        new SelectListItem { Text = "N/A", Value = "N/A"},
                        new SelectListItem { Text = "2 - 3", Value = "2 - 3"},
                        new SelectListItem { Text = "4 o más", Value = "4 o más"},

                    }, "Value", "Text"), "Seleccionar Puertas", new { @class = "form-control",@disabled = " disabled " })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Color" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Color" disabled  class="form-control" type="color" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Placa" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Placa" disabled  class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Kilometraje" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Kilometraje" disabled  class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Estado" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <select asp-for="Estado"  disabled class="form-control" asp-items="Html.GetEnumSelectList<Estado>()"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="Cilindrada" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Cilindrada" disabled  class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="PrecioMinimo" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="PrecioMinimo"  disabled class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="PrecioRecomendado" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="PrecioRecomendado"  disabled  class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="ApartadoYN" class="custom-label" style="padding-top:9px"></label>
                </div>
                <div class="col-sm-4">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ApartadoYN"  disabled  />
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="FechaIngreso" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="FechaIngreso" disabled class="form-control" type="date" for />
                </div>
            </div>
            @*<div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-sm btn-danger" />
                <a asp-action="Index" class="btn btn-sm btn-success">Regresar a la Lista</a>
            </div>*@
        </div>
    </div>
</form>

