@model AutoCosting.Models.Maintenance.Proveedor

@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Eliminar Proveedor</h2>
<hr />

<h3>Está seguro que desea eliminar el proveedor?</h3>
<hr />
    <form asp-action="Delete">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="NombreContacto" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="NombreContacto" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="NombreEmpresa" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="NombreEmpresa" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Direccion" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Direccion" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Telefono" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Telefono" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Email" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Email" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Notas" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <textarea asp-for="Notas" disabled class="form-control"></textarea>
                    </div>                    
                </div>
                <div class="form-group">
                    <input type="submit" value="Eliminar" class="btn btn-sm btn-danger" />
                    <a asp-action="Index" class="btn btn-sm btn-success">Regresar a la Lista</a>
                </div>
            </div>
        </div>
    </form>