@model AutoCosting.Models.Maintenance.Proveedor

@{
    ViewData["Title"] = "Details";
}


<h2>Detalles del Proveedor</h2>
<hr />

<div class="form-group">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Información del Proveedor</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="NombreContacto" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="NombreContacto" class="form-control" placeholder="Nombre del Contacto" readonly="readonly" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="NombreEmpresa" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="NombreEmpresa" class="form-control" placeholder="Nombre de la Empresa" readonly="readonly" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Direccion" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Direccion" class="form-control" placeholder="Dirección" readonly="readonly" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Telefono" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Telefono" class="form-control" data-mask="9999-9999" placeholder="Teléfono" readonly="readonly" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Email" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Email" class="form-control" placeholder="Correo Electrónico" readonly="readonly" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Notas" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <textarea asp-for="Notas" class="form-control" placeholder="Notas ..." readonly="readonly"></textarea>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-sm btn-primary">Editar</a>
                    <a asp-action="Index" class="btn btn-sm btn-success">Regresar a la Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

