@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de Restablecer contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Tu contraseña ha sido restablecida. Por favor haga click <a asp-page="./Login">aquí</a> para ingresar.
</p>
