@model AutoCosting.Models.Maintenance.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles del Cliente</h2>
<hr />

<div class="form-group">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Nombre" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Nombre" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Apellido1" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Apellido1" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Apellido2" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Apellido2" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Direccion" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Direccion" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Telefono" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Telefono" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Email" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Email" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Notas" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <textarea asp-for="Notas" disabled class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-sm btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-sm btn-success">Regresar a la Lista</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

