@model AutoCosting.Models.Transaction.TransaccionDetail

@{
    ViewData["Title"] = "Create";
}

<script type="text/javascript">
    function GetMinPrice(selEle) {
        var vin = selEle.value.toString();
        $.ajax({
            url: "/TransaccionDetail/GetMinPrice",
            type: "POST",
            data: { VIN: vin },
            success: function (data) {
                document.getElementById("PrecioMinimo").value = data;
            },
            error: function () {
                alert("Hubo un Error.");
            }
        });
        $.ajax({
            url: "/TransaccionDetail/GetRecommendedPrice",
            type: "POST",
            data: { VIN: vin },
            success: function (data) {
                document.getElementById("PrecioRecomendado").value = data;
            },
            error: function () {
                alert("Hubo un Error.");
            }
        });
    };
</script>

<h2>Crear detalle</h2>
<h2>Numero de Transacción @Html.DisplayFor(modelItem => Model.TransID)</h2>
<hr />


<form asp-action="Create">
    <input type="hidden" asp-for="TransID" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Información del detalle</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label asp-for="VINVehiculo" class="custom-label"></label>
                        </div>
                        <div class="col-sm-4">
                            <select asp-for="VINVehiculo" class="form-control" asp-items="ViewBag.VINVehiculo" onchange="GetMinPrice(this)">
                                <option disabled selected>--Seleccionar--</option>
                            </select>
                        </div>
                        <span asp-validation-for="VINVehiculo" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3">
                            <label asp-for="PrecioAcordado" class="custom-label"></label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="PrecioAcordado" class="form-control" />
                        </div>
                        <span asp-validation-for="PrecioAcordado" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3">
                            <label asp-for="PrecioMinimo" class="custom-label"></label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="PrecioMinimo" readonly="readonly" class="form-control" />
                        </div>
                        <span asp-validation-for="PrecioMinimo" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-3">
                            <label asp-for="PrecioRecomendado" class="custom-label"></label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="PrecioRecomendado" readonly="readonly" class="form-control" />
                        </div>
                        <span asp-validation-for="PrecioRecomendado" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-sm btn-primary" />
                        <a asp-action="Edit" asp-controller="TransaccionHeader" asp-route-id="@Model.TransID" class="btn btn-sm btn-success">Regresar a la Transacción</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


