@model AutoCosting.Models.Transaction.TransaccionDetail

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TransaccionDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="TransID" class="control-label"></label>
                <select asp-for="TransID" class="form-control" asp-items="ViewBag.TransID"></select>
                <span asp-validation-for="TransID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VINVehiculo" class="control-label"></label>
                <select asp-for="VINVehiculo" class="form-control" asp-items="ViewBag.VINVehiculo"></select>
                <span asp-validation-for="VINVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioAcordado" class="control-label"></label>
                <input asp-for="PrecioAcordado" class="form-control" />
                <span asp-validation-for="PrecioAcordado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

