@model AutoCosting.Models.Maintenance.Sede

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles de la Sede</h2>
<hr />


<div class="form-group">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Información de la Sede</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="EmpresaID" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <select asp-for="EmpresaID" class="form-control" disabled asp-items="ViewBag.EmpresaID"></select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Nombre" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Nombre" class="form-control" placeholder="Nombre" readonly="readonly" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Direccion" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Direccion" class="form-control" placeholder="Dirección" readonly="readonly" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Telefono" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Telefono" class="form-control" data-mask="9999-9999" placeholder="Teléfono" readonly="readonly" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="NombreContacto" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="NombreContacto" class="form-control" placeholder="Contacto" readonly="readonly" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="ContactEmail" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="ContactEmail" class="form-control" placeholder="Email" readonly="readonly" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-sm btn-primary">Editar</a>
                    <a asp-action="Index" class="btn btn-sm btn-success">Regresar a la Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>

