@model AutoCosting.Models.Calc.CalcFinanciamiento
@{
    ViewData["Title"] = "Resultado de Financiamiento.";
}

<h2>Resultado de Financiamiento</h2>
<hr />
<div class="form-group">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Resultado</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Vehiculo" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        @if (Model.Vehiculo == null || string.IsNullOrEmpty(Model.Vehiculo))
                        {
                            <input asp-for="Vehiculo" readonly="readonly" class="form-control" />
                        }
                        else
                        {
                            <select asp-for="Vehiculo" class="form-control" asp-items="ViewBag.VINVehiculo" disabled>
                                <option disabled selected>--Seleccionar--</option>
                            </select>
                        }
                    </div>
                    <span asp-validation-for="Vehiculo" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Precio" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Precio" class="form-control" readonly="readonly">
                    </div>
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="TarifaAddicional" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="TarifaAddicional" class="form-control" readonly="readonly">
                    </div>
                    <span asp-validation-for="TarifaAddicional" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Descuento" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Descuento" class="form-control" readonly="readonly">
                    </div>
                    <span asp-validation-for="Descuento" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Prima" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Prima" class="form-control" readonly="readonly">
                    </div>
                    <span asp-validation-for="Prima" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Interes" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Interes" class="form-control" readonly="readonly">
                    </div>
                    <span asp-validation-for="Interes" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="NumeroCuotas" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="NumeroCuotas" class="form-control" readonly="readonly">
                    </div>
                    <span asp-validation-for="NumeroCuotas" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Resultado" class="custom-label"></label>
                    </div>
                    <div class="col-sm-4">
                        <textarea asp-for="Resultado" class="form-control" readonly="readonly"></textarea>
                    </div>
                    <span asp-validation-for="Resultado" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <label class="custom-label">Nota:</label>
                    </div>
                    <div class="col-sm-4">
                        <p class="custom-label">
                            Este Documento no tiene ninguna validez.<br />
                            Los precios pueden variar sin previo aviso.<br />
                            El resultado aquí mostrado es solo un aproximado y no un valor definitivo.
                        </p>
                    </div>
                </div>
                <br />
                <div class="form-group">                    
                    <a class="btn btn-sm btn-primary no-print" onclick="window.print();"><i class="fa fa-print"></i> Imprimir</a>
                    <a asp-action="Index" class="btn btn-sm btn-success no-print">Hacer un nuevo calculo</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
